/* Main Style Sheet */


body{
	background: #fff url("../images/gradient_squares.png");
}
/*
a:link{

}

a:visited{

}

a:hover{

}

a:active{

}
*/

#navStyle{
	font-size:1.2em;
	font-family: ;
	color: #a8c2ea;
	margin-right: 0.5em;
	display: inline-block;
	transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-webkit-transition: color .25s ease-in-out;
}

#navStyle:hover{
	color: #eee;
	transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-webkit-transition: color .25s ease-in-out;
}

#navStyle:active{
	background: #555;
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
}

#recipeNavTitle{
	color: #a8c2ea;
	display: block;
	font-family: ;
	font-size: 1.5em;
	transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-webkit-transition: color .25s ease-in-out;
}

#recipeNavTitle:hover{
	color: #eee;
}

#mainDiv {
	padding: 1em;
	margin: 1em;
	background-color: #eee/*#a8c2ea*/;
}

#footfoot {
	position: absolute;
	margin-top: 1em; /* negative value of footer height */
	clear: both;
	padding-top: 10px;
	bottom: 0;
    width: 100%;
}

#infoCollumn{
	background: #000;
}